.contenedor{
    display: grid;
grid-template-columns: 1fr 4fr;
grid-template-rows: 1fr auto 100px;
grid-template-areas: 
"A A"
"B C"
"D D";
gap: 7px;
}
.contenedor-div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.a{
  grid-area: A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 40px;
  border: 10px solid black;
  padding: 5px;
  background-color: white;
  text-decoration: underline 7px;

}
.b{
  grid-area: B;
  color: black;
  background-color: rgb(248, 33, 33);
  border: 5px solid black;
  padding: 10px;
  font-size: 35px;
}
.c{
  grid-area: C;
  color: rgb(110, 0, 0);
  background-color: black;
  border: 5px solid rgb(110, 0, 0);
  padding: 20px;
}
.d{
  grid-area: D;
  display: flex;
  background: white;
  border: 2px solid black;
  padding: 10px;
  font-size: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.t{
  grid-area: A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 25px;
}
.i{
  border: 5px solid gold;
  padding: 1px;
}